 _________________

### 1. What is the difference between append() and extend() methods? (5 Marks)

In [ ]:
The given method are applicable for list data type.
The basic difference between the two methods is that we use 'append' to add single element to the list while to add more than 1 element at once we use .'extend'

### 2. Write a program to create a dictionary as follows ? (5 Marks)




  **OUTPUT:**  * {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [10]:
j=[i for i in range(1,16)]
a=[i**2 for i in range(1,16) ]
b=dict(zip(j,a))
b

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [32]:
a={}
a[1]=1
a.update({ 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225})
a

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

### 3. Write a program to Check if a given number is a Palindrome or not? (5 Marks)

In [1]:
a=int(input("please give a valid no.:"))
b=a
m=0
while(a>0):
    dig=a%10
    m=m*10+dig
    a=a//10
if(b==m):
    print('the given no. is a palandrome')
else:
    print('the given no. is not palandrome')

please give a valid no.:121
the given no. is a palandrome

### 4. Python program which  generate a list and a tuple which contains every number.Suppose the following  (5 Marks)
    
    input = 23,56,76,12,87 Then, the output should be:

    ['23', '56', '76', '12', '87']

    ('23', '56', '76', '12', '87')

In [12]:
b=(input('enter a no:'))
c=b.split(',')
print(list(c))
print(tuple(c))

enter a no:23,56,76,12,87
['23', '56', '76', '12', '87']
('23', '56', '76', '12', '87')

### 5.  Write a code to print “Python” for multiples of three instead of the number, “Coding” for the multiples of five, “Python Coding” for multiples of both three and five (range is from 1 to 26). (10 Marks)

In [10]:
for i in range(1,26):
    if i%3==0 and i%5==0:
        print('Python Coding')
    elif i%5==0:
        print('Coding')
    elif i%3==0 :
         print('Python')
    else:
        print(i)

1
2
Python
4
Coding
Python
7
8
Python
Coding
11
Python
13
14
Python Coding
16
17
Python
19
Coding
Python
22
23
Python
Coding